@tailwind base;
@tailwind components;
@tailwind utilities;


/*primary-btn =  shadow-md rounded-md px-4 py-2 bg-sky-700 text-white font-semibold */

.login{
    background: rgb(12,103,140);
background: linear-gradient(90deg, rgba(12,103,140,1) 18%, rgba(9,54,94,1) 83%);
}
@use "@material/button/styles";

.name{
    font-family: Comic Sans MS;
}

.nav{
    
    background-color: rgba(245, 245, 245, 0.081);
    
}
.nav.active{
  color: black;
  box-shadow: 1px 1px 1px 1px;
  
  border-radius: 5px;
  padding: 1px 5px;
}
